:host {
    display: block;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
       -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
            box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
    background-color: rgb(255, 255, 255);
    padding: 1.5em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Lucida Grande, sans-serif;
}

fieldset {
    border: 0;
    padding: 1.5em 1.5em 2em 1.5em;
    margin: 0 -1.5em 0 -1.5em;
}

fieldset[name="personalInfo"] {
    margin-top: -1.5em;
    background: whiteSmoke;
    border-bottom: 1px solid #eee;
}

label {
    line-height: 2.5;
    display: block;
}

label[required]::after {
    content: '*';
    color: #c00;
    padding-left: .25em;
}

input {
    width: 100%;
    padding: .5em .5em;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    border: 1px solid #0a5;
    font-size: 1em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Lucida Grande, sans-serif;
    display: block;
}

input:focus {
    border-color: #eee;
    -webkit-box-shadow: 0 0 1px 0 #0a5;
       -moz-box-shadow: 0 0 1px 0 #0a5;
            box-shadow: 0 0 1px 0 #0a5;
    outline: none;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}   

[id="cardNum"] {
    margin-bottom: 1em;
}

[id="cardExp"], [id="cardCVC"], [for="cardExp"], [for="cardCVC"] {
    float: left;
    width: 45%;
}

[for="cardCVC"], [id="cardCVC"] {
    margin-left: 1.5em;
}

[type="submit"] {
    font-size: 1em;
    background: #0a5;
    border: 1px solid #0a5;
    padding: .75em .5em;
    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    width: 100%;
    margin: auto;
}

[type="submit"]:hover, [type="submit"]:focus {
    background: #0a2;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
       -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
            box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
}